@if (selectCard) {
    <form [formGroup]="updateForm" (ngSubmit)="update()">
        <div class="col-2">
    
            <input formControlName="Name" value="{{selectCard.Name}}" />
        </div>
        <div class="col-2">
    
            <input formControlName="Code" value="{{selectCard.Code}}" />
        </div>
        <div class="col-2">
            <input formControlName="CCV" value="{{selectCard.CCV}}" />
        </div>
        <div class="col-2">
            <input maxlength="2" formControlName="ExpirationMonth" value="{{selectCard.ExpirationMonth}}" />/<input maxlength="4" formControlName="ExpirationYear"
                value="{{selectCard.ExpirationYear}}" />
        </div>
        <div class="col-2">
            <button type="submit" [disabled]="updateForm.status != 'VALID'" type="submit">Modifier</button>
        </div>
    </form>
}
